*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,html{
    height:100%;
    width:100%;
}
.container{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 550px;
    width:400px;
    border:1px solid black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.topbox{
    height:30%;
    width:100%;
    background-image: url(https://media.istockphoto.com/id/1290864946/photo/e-learning-education-concept-learning-online.jpg?s=612x612&w=0&k=20&c=y1fQ-3wbsvdDaMn-cuHPibcgozOxKQS99mIgz6DFcVA=);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.bottombox{
    height:70%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    gap:30px;
}
.bottombox .pricebox{
    height:19%;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding:10px;
    background-color: cadetblue;
    border-radius: 0.5rem;
}
.pricebox p{
    margin-right:50px;
    font-size: 1rem;
}
.pricebox img{
    height:28px;
    width:30px;
    border-radius: 0.5rem;
    margin:10px;
}
.bottombox button{
    height:12%;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
    border-radius: 0.5rem;
    background-color:darkblue;
    color:azure;
    box-shadow: 0px 0px 10px black;
}
.bottombox a{
    text-decoration: none;
    font-size: 1.2rem;
    color:black;
}